#infscr-loading {
  z-index: 3 !important;
  position: absolute;
  bottom: 0;
  background-color: rgba(255,255,255,0.8);
}
.social-item {
  width: 300px;
  margin: 5px;
  margin-bottom: 20px;
  overflow-x: hidden;
  border: 1px solid #666;
  -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.75);
}
.social-item .content {
  padding: 5px;
  background-color: white;
}
.social-item .content img {
  width: auto;
  height: auto;
  max-width: 100%;
}
.social-item .header {
  padding: 3px;
  font-weight: bold;
  border-bottom: 1px solid #666;
  text-shadow: 1px 1px 1px black;
}
.social-item .footer {
  min-height: 28px;
  _height: 32px; /* IE min-height hack */
  padding: 4px 0px 0px 4px;
  border-top: 1px solid #666;
  text-shadow: 1px 1px 1px black;
}
.social-item  .footer a{
  color: inherit;
  font-weight: bold;
}
.social-item .footer img {
  vertical-align: text-bottom;
  margin-right: 4px;
}

#new-content , #social-nav {
  display: none;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
